extends layout

block content

    h1 Item: #{item.name}

    p #{item.price}
    p #{item.desciption}
    p in stock currently: #{item.numberInStockdesciption}


//-   p
//-     a(href=author.url+'/delete') Delete author 