extends layout

block content

    h1 Item: #{item.name}

    p #{item.price} $
    p #{item.description}
    p in stock currently: #{item.numberInStock}


//-   p
//-     a(href=author.url+'/delete') Delete author 